{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;

    
}
.container
{
position: relative;
width: 100%;

}
.container .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: cal(100% + 400px);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    animation: animateSurface 1.5s ease-in-out infinite;



}
@keyframes animateSurface
{
    0%
    {
         transform: translate(0px);

    }
    100%
    {
         transform: translate(-200px);
         
    }
